@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@500,700&f[]=clash-display@400,500,600&display=swap');

@font-face{
  font-family: 'Agile';
  src: url('../../../fonts/agile.ttf') format("truetype");
}


@font-face{
  font-family: 'Mooxy';
  src: url('../../../fonts/mooxy.ttf') format("truetype");
}


html,body{

  overflow-x: hidden;
  overflow-y: auto;

}

.hero-title-container,
.hero-role-container,
.hero-subtext-container {
  position: absolute;
  z-index: 20;
}



.hero .hero-title,
.hero .hero-subtext,
.hero .hero-role
{
  opacity: 0;
  transform: translateY(40px);
}

body {
  -webkit-user-select: none;
  -ms-user-select: none;    
  user-select: none;        
}


.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  color: white;
  z-index: 10; 
  overflow: hidden; 
}



.hero-title-container{
  margin-top:4%;
  position: absolute;
  font-family: 'Agile',sans-serif;
  font-size: 10rem;
  font-weight: 1000;
  color: white;
  padding:2em 7%; 
}

.span1{
  margin: 0;

}

.span2{
  margin: 0;
  margin-left: 70%;
}
/* 
.span3{
  margin: 0;
  margin-left: 100%;
}

.span4{
  margin: 0;
 margin-left: 130%;
} */


.hero-title::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3);
  color: transparent; 
  -webkit-text-stroke: 2px #ffffff58;   
  filter: blur(5px);                 
  opacity: 0.6;                  
  z-index: 1;     
  transition: 
  color 0.7s ease,
  filter 0.4s ease,
  transform 0.4s ease;   
}

.span2::after{
  transform: translate(-30%, -50%) scale(1.3);
}

/* .span3::after{
  transform: translate(0%, -50%) scale(1.5);
}

.span4::after{
  transform: translate(0%, -50%) scale(1.5);
} */

.hero-title:hover::after{
  color: rgb(255, 255, 255);
  filter: blur(5px);
  opacity: 0.2;  
  z-index: -1;
}



.hero-role-container {
  position: absolute;
  top: 19%;
  right:10%;

  display: flex;
  flex-direction: column;   /* stack text vertically */
  align-items: flex-end;    /* push whole group to the right side */
}

.hero-role {
  text-align: left;         /* text starts from left inside each line */
  color: #C5A100;
  font-size: 2.5rem;
  font-family: 'Mooxy', sans-serif;
  font-weight: 400;
  margin: 5px 0;
  transition: 
  color 0.9s ease,
  filter 0.3s ease,
  transform 0.5s ease;  
}

.hero-role:hover{
  -webkit-text-stroke: 2px #F5D76E; 
  color:transparent;
  filter: blur(2px); 
  z-index: 0;   
}


 /* Subtext */

.hero-subtext-container {
  position: absolute;
  bottom: 6.5%;
  left: 7.5%;
  display: flex;
  overflow: visible;
  pointer-events: auto;
}

.hero-subtext {
  display: inline-block;       
  letter-spacing: 2px;
  margin-bottom: 2rem;
  color: #C5A100;
  font-size: 3rem;
  font-family: 'Mooxy', sans-serif;
  font-weight: 400;

  transition: 
    color 0.45s ease,                  
    filter 0.45s ease,
    transform 0.45s cubic-bezier(.2,.8,.2,1);
  transform-origin: left center;       
  will-change: transform, filter, color;
}

.hero-subtext:hover {
  color: #ffffff;
  filter: blur(1px);
}




@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
} 
