.services {
  padding: 6rem 10%;
  background: #0c0c18;
  color: white;
  text-align: center;
}

.services h2 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  text-shadow: 0 0 15px rgba(255, 94, 223, 0.4);
}

.service-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.service-box {
  padding: 2.2rem;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 15px;
  transition: 0.4s;
  border: 1px solid rgba(255, 255, 255, 0.08);
  cursor: pointer;
}

.service-box:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 30px rgba(4, 192, 255, 0.3);
}

.service-box h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px rgba(255, 94, 223, 0.4);
}

.service-box p {
  color: #cdcde1;
}
