@import url("https://api.fontshare.com/v2/css?f[]=ranade@300,500&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=bebas-neue@400&display=swap");

@font-face{
  font-family: 'Agile';
  src: url('../../../fonts/agile.ttf') format("truetype");
}


@font-face{
  font-family: 'Mooxy';
  src: url('../../../fonts/mooxy.ttf') format("truetype");
}

.services{
  position: relative;
  height:auto;
  display:flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
  color: white;
  transition: 500ms ease-in-out;
}

.services-title{
  font-size:10em;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 5px;
  margin: 0;
  color:rgba(245, 245, 245, 0.697);
  margin-right: 50%;

}

.service-card-container{
  width: 90%;
  padding-bottom: 7%;
  margin: 0;
}

.service-cards{
  display: flex;
  align-items:center;
  gap:7%;
  margin: 0;
  padding: 2em 3%;
  border-top:1px solid rgba(255, 255, 255, 0.467);
  border-bottom : 1px solid rgba(255, 255, 255, 0.467);
  justify-content: center;
  transition: 300ms ease-in-out;
}

#service-title{
  font-size:3em;
  width: 30%;
  font-family: 'Ranade', sans-serif;
}

#service-desc,#service-index{
  font-size:1.3em;
  font-family: 'Ranade', sans-serif;
  font-weight: 300;
}

#service-desc{
  width: 50%;
  text-align:justify;
}

/* Hover */

.service-cards:hover{
  color:black;
  background-color: white;
  border-radius: 20px;
}