@import url('https://api.fontshare.com/v2/css?f[]=cabinet-grotesk@500,700&f[]=clash-display@400,500,600&display=swap');

@font-face{
  font-family: 'Agile';
  src: url('../../../fonts/agile.ttf') format("truetype");
}


@font-face{
  font-family: 'Mooxy';
  src: url('../../../fonts/mooxy.ttf') format("truetype");
}

.about-text{
  font-size: 2em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.about-title{
  font-family: 'Agile',sans-serif;
  font-size: 2em;
}


.about-desc{
  font-family: 'Mooxy',sans-serif;
  font-size:1em;
  text-align: center;
  width: 80%;
}

.cards{
  display: flex;
  text-align: center;
  gap: 0px 90px;
  letter-spacing: 2px;
}

.card-name{
    font-family: 'Cabinet Grotesk',sans-serif;
  margin:0;
}

.card-number{
  font-family: 'Agile',sans-serif;
  font-weight:300;
  font-size: 2em;
  margin: 0;
}


