@import url("https://api.fontshare.com/v2/css?f[]=bebas-neue@400&display=swap");

@font-face{
  font-family: 'Agile';
  src: url('../../../fonts/agile.ttf') format("truetype");
}


@font-face{
  font-family: 'Mooxy';
  src: url('../../../fonts/mooxy.ttf') format("truetype");
}


body{
  background-color: black;

}

.about{
  margin-top:4%;
  display: flex;
  height: 100vh;
  color: white;
}

.about-title{
  font-family: 'Bebas Neue', sans-serif;
  font-size:6em;
  margin: 0;
  margin-top:8%;
  width: 70%;
  text-align:left;
  padding:1px 2px;
  letter-spacing: 3px;
  transition: all 500ms ease-in-out;
}

.about-text{
  margin-left:90px;
  width: 70%;
  height: 100%;
  z-index:1;
}
 

.about-desc{
  font-family: 'Mooxy',sans-serif;
  font-size:2em;
  text-align: left;
  width: 60%;
}

.about-img{
  width: 40%;
  right: 4%;
  margin-top:80px;
  position: absolute;
  border-radius: 20px;
}

.about-title:hover{
  font-size: 6.5em;
  transition: all 0.2s ease-in-out;
  color: antiquewhite;
}

.about-desc:hover{
  transition: all 0.2s ease-in-out;
  color: rgb(126, 126, 126);
}



