@font-face{
  font-family: 'Agile';
  src: url('../../../fonts/agile.ttf') format("truetype");
}


@font-face{
  font-family: 'Mooxy';
  src: url('../../../fonts/mooxy.ttf') format("truetype");
}

.features{
  height: 100vh;
  margin-top: 7%;
}

.feature-title{
  font-size:5em;
  font-family: "Mooxy", sans-serif;
  letter-spacing: 10px;
  text-align: center;
}

.magic-bento-card__label{
letter-spacing: 1px;
  font-size:1em !important;
  font-family: "Mooxy",sans-serif;
}