@import url("https://api.fontshare.com/v2/css?f[]=ranade@100,200,300,400&display=swap");

.contactPage{
    color:white;
}

.contact_page_title{
    font-family: "Ranade" , sans-serif;
    margin-top: 10%;
    font-size:3em;
}

.contact_page_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_form{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1em 10%;
    font-family: "Ranade" , sans-serif;
    font-size: 1em;
}

.contact_form input{
    padding :1em 10%;

}