@import url("https://api.fontshare.com/v2/css?f[]=ranade@100,200,300,400&display=swap");


.contact{
    font-family: "Ranade", sans-serif;
    color:white;
    display: flex;
    justify-content: center;
}

.contact-container{
    display: flex;
    flex-direction: column;
    margin-top:7%;
    margin-bottom: 5%;
    padding: 2% 0% 0% 5%;
    background-color: hsla(0, 0%, 100%, 0.067);
    width: 90%;
    border-radius: 20px;
    transition: 400ms ease-in-out;
    justify-content: space-between;
}

.contact-p1{
    font-size:1.5em;

}
.contact-p2{
    font-size:2.5em;
}

.contact-title{
    margin-top:10%;
    width: 80%;
    font-size:5em;
    font-weight: 400;
}

.contact-card{
    display: flex;
}

.contact-us{
    all :unset;
    align-self: flex-end;
    border-bottom:2px solid white;
    margin-bottom:100px;
    font-size: 1.2em;
    cursor: pointer;
}

.contact-container:hover{
    background-color: rgb(173, 173, 173);
    color:black;
}

.contact-container:hover .contact-us {
    border-bottom: 2px solid black;
    color: black;
}