@import url("https://api.fontshare.com/v2/css?f[]=ranade@100,200,300,400&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=bebas-neue@400&display=swap");


.contact_faq,
.contact_page_title{
    margin:0;
    padding: 0;
}

.contactPage{
    height: auto;
    color:white;
    transition: 500ms ease-in;
}

.contact_page_title{
    font-family: "Bebas Neue", sans-serif;
    margin-left: 30px;
    font-size:20em;
    color:rgb(144, 144, 144);
    margin-top: 0 !important;
}

.letter{
    display:inline-block;
}

.contact_page_container{
    position: relative;
    padding-top: 10%;
}

.contact_faq{
    font-family: "Ranade", sans-serif;
    position: sticky;
    padding-top: 4%;
    font-size: 1em;
    margin-left: 2%;
    top:20%;
}

.contact_page_form {
  display: flex;
  gap: 3rem;
}


.contact_form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 10%;
}

.form_data {
  display: flex;
  flex-direction: column;
  font-size: 1.1em;
  gap: 10px;
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  font-size: 0.8em;
  font-family: "Renade", sans-serif;
  background: transparent;
  border: 1px solid rgba(110, 110, 110, 0.456);
  padding: 1rem;
}

.contact_form textarea{
    padding-bottom: 10%;
}
.full {
  grid-column: span 2;
}

.contact_card {
  background-color: rgb(35, 37, 38);
  font-family: "Ranade", sans-serif;
  border-radius: 20px;
  margin-left: auto;
  margin-right: 2%;
  margin-bottom: 2%;
  padding: 3rem;
  max-width: 50%;
  width: 100%;
  box-sizing: border-box;
}

.contact_card_title{
    font-size: 1.5em;
}

.form_button{
    padding:1rem;
    border-radius: 10px;
    align-content:center;
    text-align: center;
    font-family: "Ranade",sans-serif;
    font-size: 1em;
    background-color: transparent;
    border: 2px solid rgba(110, 110, 110, 0.456);
    color:white;
    transition: 200ms ease-in-out;
}

.form_button:hover{
    border-radius: 50px;
    background-color: white;
    color: black;
}

.goback{
  all: unset;
  position: fixed;
  z-index: 999;
  top:15%;

  font-family: "Ranade", sans-serif;
  font-size: 1.1em;
  cursor: pointer;
  border-bottom: 2px solid white;
  margin-left: 2%;
  transition: 300ms ease-in-out;
  padding: 0.2em;
  display: inline-block;
}

.goback:hover{
  background-color: white;
  color:black;
  border-radius: 5px;
  transform: translateY(-5px);
}