.horizontal-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
   background: black;
  position: relative;
  transform: translateZ(0.1px);
}



/* Each panel */
.panel {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

