
.footer {
  padding: 6rem 10% 3rem;
  background: #080813;
  color: #d4d4e6;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 -10px 20px rgba(255, 94, 223, 0.1);
}


.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
}

.footer-top .footer-logo {
  flex-basis: 100%; 
}

.footer-top p {
  flex-basis: 400px; 
  flex-grow: 1;
  margin: 0;
}

.footer-top .socials {
  flex-basis: 150px; 
  flex-grow: 1;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  padding-top: 2rem;
}

.footer-logo {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #ff5edf, #04c0ff);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0 15px rgba(255, 94, 223, 0.4);
}

.socials i {
  font-size: 1.3rem;
  color: #d4d4e6;
  cursor: pointer;
  transition: 0.4s;
}

.fa-brands{
  filter: brightness(0) invert(100%);
}

.socials{
  color: white;
}
.socials i:hover {
  color: white;
  transform: translateY(-5px);
  filter: drop-shadow(0 0 10px #ff5edf);
}