@import url("https://api.fontshare.com/v2/css?f[]=hind@400&f[]=poppins@600&display=swap");


.footer {
  padding: 2rem 5% 2rem;
  background: #4444446c;
  color: #d4d4e6;
}


.footer-top {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 3rem;
}

.footer-top .footer-logo {
  flex-basis: 100%; 
}

.footer-top p {
  flex-basis: 400px; 
  flex-grow: 1;
  font-size:1.2em;
  font-family: 'Hind', sans-serif;
  margin: 0;
}

.footer-top .socials {
  flex-basis: 150px; 
  flex-grow: 1;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}

.footer-bottom {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  padding-top: 1rem;
}

.footer-logo {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  transition: 200ms ease-in-out;
}

.socials i {
  font-size: 1.5rem;
  color: #d4d4e6;
  cursor: pointer;
  transition: 0.4s;
}

.fa-brands{
  filter: brightness(0) invert(100%);
}

.socials{
  color: white;
}
.socials i:hover {
  color: white;
  transform: translateY(-5px);
  filter: drop-shadow(0 0 10px #ffffff);
}

.footer-logo:hover{
  text-shadow: 2px 2px 10px #d4d4e6;
}